
{{#if session.isAuthenticated}}
  {{#link-to 'arenas.create' class="btn btn-primary pull-right .create-arena" }} <i class="glyphicon glyphicon-plus"></i> Create Arena{{/link-to}}
{{/if}}

<h3>Arenas</h3>

<ul class="list-group">
{{#each arena in model}}
    <li class="list-group-item">            
        
        <h4 class="list-group-item-heading">
            <div class="pull-right">
            {{#link-to 'arena.edit' arena class="btn-default btn-sm arena-edit"}}
                <i class="glyphicon glyphicon-pencil"></i> Edit
            {{/link-to}} 
            {{#link-to 'arenaTrial' arena class="btn-primary btn-sm arena-try"}}
                <i class="glyphicon glyphicon-play"></i> Try
            {{/link-to}}
        </div>
            {{#link-to 'arena' arena class="arena-name"}}
                {{arena.name}}
            {{/link-to}}
        </h4>
    </li>
    {{else}}
    <p>No Arenas set yet</p>
{{/each}}
</ul>