<section class="panel panel-default">

<div class="panel-heading">
    <span class="pull-right label label-primary">awards {{model.exp}} Exp</span>
    <h2 class="panel-title">{{model.name}}</h2>
</div>
<div class="panel-body">
  {{view 'App.MarkedMathView' model=model observable='description' }}
</div>
<div class="panel-footer">
  {{#link-to 'challenge.try' model.id class="btn btn-block"}}Start{{/link-to}}
</div>
</section>