<section class="row">
<div class="col-md-12 text-center">
{{#link-to 'arena.edit' model class="btn pull-right" }}Edit{{/link-to}}
    <h2 class="">{{model.name}}</h2>
    <p>{{model.description}}</p>
</div>
</section>
<hr>
<section class="row">
    {{#each challenge in model.challenges}}
    {{#if challenge.isPublished}}
      {{#link-to 'challenge.try' challenge class="btn col-md-4 " }}
          {{challenge.exp}} <i class="glyphicon glyphicon-star"></i>
      {{/link-to}}
    {{/if}}
    {{/each}}
</section>