<section class="row">
<div class="col-md-12 text-center">
{{#if session.atLeastTeacher }}
    {{#link-to 'arena.edit' model class="btn pull-right" }}Edit{{/link-to}}
    {{#link-to 'arenaTrial' model class="btn pull-right" }}Try{{/link-to}}
{{else}}
    {{#unless session.isAuthenticated}}
        <div class="alert alert-info">
            <p>You are not logged in this is a demo</p>
        </div>
    {{/unless}}
{{/if}}
    <h2 class="">{{model.name}}</h2>
    <p>{{model.description}}</p>
</div>
</section>
<hr>
<section class="row">
    {{#each model.challenges as |challenge|}}
    {{#if challenge.isPublished}}
      {{#link-to 'challenge.try' challenge class="btn col-md-4 " }}
          {{challenge.exp}} <i class="glyphicon glyphicon-star"></i>
      {{/link-to}}
    {{/if}}
    {{/each}}
</section>