<div class="container col-md-10">
  <h2>{{title}}</h2>

  {{post-item-form item=model buttonLabel=buttonLabel
    titlePlaceholder='Discussion Title'
    textPlaceholder='What do you wanna Discuss?'
    action='savePost'}}
</div>
