
{{#link-to 'groups.make' class="btn btn-primary pull-right .create-group" title="create many group"}} <i class="glyphicon glyphicon-plus"></i> Create Many Groups{{/link-to}}
{{#link-to 'groups.create' class="btn btn-primary pull-right .create-group" }} <i class="glyphicon glyphicon-plus"></i> Create Group{{/link-to}}

<h3>Groups</h3>

<ul class="list-group">
{{#each model as |group| }}
        <li class="list-group-item">            
            <h4 class="list-group-item-heading">
                <small class="pull-right">
                {{#link-to 'group.edit' group class="group-edit"}}
                    <i class="glyphicon glyphicon-pencil"></i> Edit
                {{/link-to}} 
                <a href="#remove" {{action "remove" group }} class="group-delete">
                    <i class="glyphicon glyphicon-trash"></i> Delete
                </a>
                </small>
                {{#link-to 'group' group class="group-name"}}
                    {{group.name}}
                {{/link-to}}
            </h4>
        </li>
{{else}}
    <p>No Groups set yet</p>
{{/each}}
</ul>
