
{{#link-to 'quests.create' class="btn btn-primary pull-right .create-quest" }} <i class="glyphicon glyphicon-plus"></i> Create Quest{{/link-to}}

<h3>Quests</h3>

<ul class="list-group">
{{#each model as |quest| }}
        <li class="list-group-item">            
            <h4 class="list-group-item-heading">
                <small class="pull-right">
                {{#link-to 'quest.assign' quest class="quest-assign"}}
                    <i class="glyphicon glyphicon-save"></i> Assign
                {{/link-to}} 
                {{#link-to 'quest.edit' quest class="quest-edit"}}
                    <i class="glyphicon glyphicon-pencil"></i> Edit
                {{/link-to}} 
                <a href="#remove" {{action "remove" quest }} class="quest-delete">
                    <i class="glyphicon glyphicon-trash"></i> Delete
                </a>
                </small>
                {{#link-to 'quest' quest class="quest-name"}}
                    {{quest.name}}
                {{/link-to}}
            </h4>
        </li>
{{else}}
    <p>No Quests set yet</p>
{{/each}}
</ul>
