<ul class="list-group">
{{#each model as |member|}}
        <li class="list-group-item">            
            <h4 class="list-group-item-heading">
               {{!--  <div class="pull-right">
                {{#link-to 'group.edit' group class="btn-default btn-sm group-edit"}}
                    <i class="glyphicon glyphicon-pencil"></i> Edit
                {{/link-to}} 
                {{#link-to 'group' group class="btn-primary btn-sm group-delete"}}
                    <i class="glyphicon glyphicon-play"></i> Delete
                {{/link-to}}
                </div> --}}
                {{#link-to 'user' member.user class="user-name"}}
                    {{member.uname}}
                {{/link-to}}
            </h4>
        </li>
{{else}}
    <p>No Members set yet</p>
{{/each}}
</ul>
