<div class="container">
    <h1>About</h1>
    <p>
      Ko;dr is an online gameified judge that aims to provide students with means of practicing.
    </p>
    <p>
        Project can be viewed on <a href="https://github.com/amrdraz/kodr">github</a>
    </p>
</div>
