<div class="container">
  <div class="page-header">
    <h3>Fogot Password</h3>
  </div>
  <div class="col-sm-8 col-sm-offset-2">

    {{#if errorMessage}}
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    {{/if}}
    {{#if fullErrors }}
      <div class="alert alert-danger">
        {{#each fullErrors as |message| }}
          <p>{{message}}</p>
        {{/each}}
      </div>
    {{/if}}

    <form {{action "validate" on="submit"}}>
      <div class="form-group text-center">
        
      </div>
      <div class="form-group">
        <label for="identification" class="control-label">Username or Email</label>
        {{input type="text" class="form-control" id="identification" value=identification autofocus="autofocus"}}
      </div>
      <button type="submit" class="submit btn btn-primary">Request Token</button>
    </form>
  </div>
</div>
