<h1 class="text-center">Don't mind me I'm just fetching some data for you...</h1>
<h5 class="text-center"><small>if this is taking to long like more then a mintue maybe you should refresh</small></h5>